body {
  background-color: #1c202f;
  color: #ffffff;
}

a:link,
a:visited {
  color: #878ab6;
  text-decoration: none;
}

h1 {
  display: none;
}

h2 {
  visibility: visible;
  color: #878ab6;
}

table,
th,
td {
  border: 1px solid #878ab6;
}

tr {
  background-color: #5b5f80;
}

tr:hover {
  background-color: #696f96;
}

tr:nth-child(even) {
  background-color: #4a4f70;
}

.markdown-body {
  width: 85%;
  align-self: center;
}